@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p></p>

<form method="post" asp-page-handler="NewWill">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary" type="submit">New Will</button>
        </div>
        <div class="col-md-3">
            <a asp-page="/Will/Edit" asp-route-id="1">Edit</a>
        </div>
    </div>
</form>

