@page
@model Qwill.Pages.Steps.Prerequisites.FollowingModel
@{
    ViewData["Title"] = "Following";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        <div class="col-6 offset-3">
            <h5>Do you have any of the following?</h5>
            <div class="mt-3">
                <ul>
                    <li>Assets under £5000</li>
                    <li>Have any partnerships, company holdings or shares</li>
                </ul>
            </div>

            <div class="mt-3">
                <form method="post">
                    <button class="btn btn-primary btn-block" asp-page-handler="Yes">Yes</button>
                    <button class="btn btn-primary btn-block" asp-page-handler="No">No</button>
                    <button class="btn btn-link" asp-page-handler="GoBack">Go Back</button>
                </form>
            </div>
        </div>

    </div>
</div>

