@page
@model Qwill.Pages.Steps.ChildrenExistingModel
@{
    ViewData["Title"] = "ChildrenExisting";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        <div class="col-6 offset-3">
            <h5>Do you have any children from a current relationship?</h5>

            <div class="mt-3">
                <form method="post">
                    <button class="btn btn-primary btn-block" asp-page-handler="Yes">Yes</button>
                    <button class="btn btn-primary btn-block" asp-page-handler="No">No</button>
                    <button class="btn btn-link" asp-page-handler="GoBack">Go Back</button>
                </form>
            </div>
        </div>

    </div>
</div>

