@page
@model Qwill.Pages.Steps.CustomerModel
@{
    ViewData["Title"] = "Customer";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

<div class="container">
    <div class="row">

        <div class="col-6 offset-3">
            <h5>Your details</h5>

            <div class="mt-3">
                <partial name="_ErrorMessages" for="ErrorMessage" />

                <form method="post">
                    <input type="hidden" asp-for="WillInfo.Id" />
                    <input type="hidden" asp-for="WillInfo.WillStatus" />
                    <input type="hidden" asp-for="WillInfo.UserName" />

                    <div class="mb-3">
                        <label asp-for="CustomerInfo.FirstName"></label>
                        <input asp-for="CustomerInfo.FirstName" class="form-control" placeholder="Name *" />
                        <span asp-validation-for="CustomerInfo.FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CustomerInfo.LastName"></label>
                        <input asp-for="CustomerInfo.LastName" class="form-control" placeholder="Name *" />
                        <span asp-validation-for="CustomerInfo.LastName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <partial name="_Date" for="CustomerInfo.DateOfBirth" />
                    </div>

                    <div class="mb-3">
                        <partial name="_MaritalStatus" for="MaritalStatusInfo" />
                        <input type="hidden" asp-for="CustomerInfo.MaritalStatusId" id="id_customermaritalstatus" />
                    </div>

                    <div class="mb-3">
                        <partial name="_Address" for="CustomerInfo.Address" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="CustomerInfo.Telephone"></label>
                        <input asp-for="CustomerInfo.Telephone" class="form-control" placeholder="Name *" />
                        <span asp-validation-for="CustomerInfo.Telephone" class="text-danger"></span>
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">Next</button>
                    <button class="btn btn-link" asp-page-handler="GoBack">Go Back</button>
                </form>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/js/PAF.js"></script>
    <script src="~/js/maritalstatus.js"></script>
    <script src="~/js/customer.js"></script>
} 