@page
@model Qwill.Pages.Steps.NotPossibleModel
@{
    ViewData["Title"] = "NotPossible";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Not Possible</h2>

<div class="container">
    <div class="row">

        <div class="col-6 offset-3">
            <div>Unfortunately, we cannot process your will.</div>
        </div>

    </div>
</div>